h1 {
    color: white; 
    font-size: 4vw;
    font-weight: 800;
    text-align: center;
}

h2 {
    color: white;
    font-size: 1.8vw;
    font-weight: 800;
    text-align: center;
}

h3 {
    color: white;
    font-size: 1.5vw;
    font-weight: 800;
    text-align: center;
}

h4 {
    color: white;
    font-size: 1vw;
    font-weight: 800;
    text-align: center;
}